* {
  box-sizing: border-box;
}

//font-family: 'lato';
//font-family: 'latohairline';
body {
    font-family: 'lato';
	width: 100%;
	min-width:320px;
	margin: 0;
	padding: 0;
	}
ul, li,
h1, h2{
	margin: 0;
	padding: 0;
}
p {
	color: #aaaaaa;
	font-size: 16px;
	line-height: 24px;
}


.block {
	display: block;
	padding: 20px 10px;
	text-align: center;
	margin: 15px 0;
	background-color: #cecece;
	color: red;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 10px;
}

.comments {
	background-color: green;
}
