.about-app {
  background-color: #f7f7f7;
  
	@media (min-width:768px){

	/*background-image: url("../images/phone-bg.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left 100px top 0;
	height: 885px;
	margin-bottom: -150px;*/

	}
	

	
}
.padding-top-60 {
	padding-top: 75px;
	padding-right: 60px;
	padding-left: 25px;
}

.about-app__title {
	margin-bottom: 5px;
	padding-left: 40px;
}