.about-app {
  background-color: #f7f7f7;
  
	@media (min-width:768px){    
      padding-top: 50px;}

     @media (min-width:992px){    
      padding-top: 80px;}
}
	
.about-app__img {
	display: none;
	
	@media (min-width:768px){
		display: block;
		
     }	
}

.about-app__title {

	@media (min-width:768px) {

		font-size: 16px;
	}
}

.about-app-right-column {


  @media (min-width:768px) {
  	padding-top: 50px;
  }

   @media (min-width:992px) {
	padding-left: 40px;
	padding-top: 100px;
 }
}

.about-app__paragraf {	
  @media (min-width:768px) {
  	font-size: 16px;
	line-height: 20px;
	
  }

 
}

.about-app__paragraf p {
	margin-bottom: 8px;

	@media (min-width:768px) {
  	font-size: 16px;
	line-height: 20px;

	 @media (min-width:992px) {
  	  margin-bottom: 12px;
	}
  }
}
.about-app__title {
	margin-bottom: 5px;
	
}

.app-links {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
    
    @media (min-width:768px) {
    	margin-top: 15px;
      & a {
      	margin-right: 10px;
        padding-top: 15px;}
    }
}
/*a.app-link {
	display: inline-block;
	margin-right: 10px;
	padding-top: 15px;

}*/
