.benefits {
text-align: center;
padding-bottom: 10px;
margin-bottom: 30px;
//padding-top: 20px;
//padding-bottom: 85px;


    // &:first-child {
	  //   margin-bottom: 40px;
     //}

	@media (min-width:768px){
	 padding-top: 100px;
	  //margin-bottom: 100px;	
	  &:first-child {
	     margin-bottom: 0px;
     }
	}
}

.benefits__item{
    margin-bottom: 15px;
    text-align: center;

	@media (min-width:768px){
       margin-bottom: 0px;}
}

.benefits__item-img {	
	height: 130px;	
}


.benefits__item-title {
	display: block;
    margin-bottom: 8px;
}

.benefits__item-paragraf {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 8px;	
	

	@media (min-width:768px) {
		font-size: 16px;
	    line-height: 18px;
	}	
}



